server:
  port: 8080

spring:
  application:
    name: enterprise-backend
  
  datasource:
    url: jdbc:mysql://localhost:3306/comdb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: 0213
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

logging:
  level:
    com.tengfei: DEBUG
    org.hibernate.SQL: DEBUG
